@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');
@import './mixins';
@import './variables';

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}
body{
    height: 888px;
    background-color: hsl(230, 100%, 99%);
    position: relative;
}

span, li, p{
    color: $text
}

header{
    position: relative;
    height: 444px;
    background-color: hsl(224, 65%, 95%);
    border-bottom-left-radius: 200px;
    padding-top: 80px;

    h1{
        font-size: 1.9rem;
        width: 100%;
        text-align: center;
        color: $dark-blue;
        position: absolute;
        top:23%;
        left:50%;
        transform: translate(-50%, -50%);
        z-index: 1;

    }
    p{
        text-align: center;
        margin-top: 10px;
        position: absolute;
        top:30%;
        left:50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
    svg{
        position: absolute;
        left: 50%;
        top: 50px;
        transform: translateX(-50%);
    }
    @media only screen and (max-width: 870px){
        h1{
            font-size: 1.6rem;
        }
    }
}

.section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: #fff;

    .component1{
        padding: 50px;
        border-bottom: 2px solid hsl(224, 65%, 95%);
        .div1{
            @include flex(space-between);
            .price-duration{
                @include flex(center);
                column-gap: 10px;
                #price{
                    font-size: 2.4rem;
                    font-weight: 800;
                    color: $dark-blue;
                }
            }
        }
        .div2{
            margin-top: 40px;
            input{
                -webkit-appearance: none;
                width:100%;
                height:10px;
                background: linear-gradient(90deg, hsl(174, 77%, 80%) 10% ,hsl(224, 65%, 95%) 0%);
            }
            input::-webkit-slider-thumb{
                -webkit-appearance: none;
                width: 35px;
                height: 35px;
                border-radius: 20px;
                background-color: hsl(174, 86%, 45%);
                background-image: url('../images/icon-slider.svg');
                background-repeat: no-repeat;
                background-position: center;
                cursor: pointer;
                box-shadow: 0px 15px 30px -5px hsl(174, 86%, 45%);
            }
        }
        .div3{
            margin-top: 50px;
            display: flex;
            // column-gap: 15px;
            justify-content: end;
            .switch{
                position: relative;
                display: inline-block;
                width: 45px;
                height: 20px;
                margin: 0 10px;
                .toggle-slider{
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: hsl(223, 50%, 87%);
                    border-radius: 10px;
                }
                .toggle-slider::before{
                    content: '';
                    position: absolute;
                    left: 3px;
                    top: 2.5px;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background-color: #fff;
                }
                input{display: none;}
                input:checked + .toggle-slider{
                    background-color: hsl(174, 86%, 45%)
                }
                input:checked + .toggle-slider:before{
                    transform: translateX(24px);
                }
            }
            .discount{
                // display: inline-block;
                margin-left: 2px;
                padding: 3px 9px;
                background-color: hsl(14, 92%, 95%);
                color: hsl(15, 100%, 70%);
                border-radius: 20px;
            }
        }
    }

    .component2{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 50px;

        ul{
            li{
                list-style: url('../images/icon-check.svg');
                span{
                    margin-left: 10px;
                }
            }
        }

        button{
            background-color: $dark-blue;
            color: hsl(226, 100%, 87%);
            border: none;
            border-radius: 30px;
            outline: none;
            cursor: pointer;
            padding: 12px 40px;
            
        }
    }
}

@media only screen and (max-width: 870px){
    .section{
        width: 375px;
        height: 470px;
        top: 60%;

        .component1{
            position: relative;
            display: flex;
            flex-direction: column;
            padding: 20px;
            .div1{
                display: flex;
                flex-direction: column;
                row-gap: 70px;
            }
            .div2{
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                width: 90%;
                input{
                border-radius: 20px;
                }
            }
            .div3{
                span{font-size: 12px;}
                .discount{
                    width:40px;
                    height: 17px;
                    line-height: 1;
                    overflow: hidden;
                }
            }
        }
        .component2{
            flex-direction: column;
            row-gap: 50px;

            ul{
                display: flex;
                flex-direction: column;
                text-align: center;
                li{
                    width: 100%;
                    
                }
            }
        }
    }
}

.attribution { font-size: 11px; text-align: center; position: absolute; bottom: 0%;}
.attribution a { color: hsl(228, 45%, 44%); }